A company started to invest in digital marketing as a new way of their product
promotions.For that they collected data and decided to carry out a study on it.

● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.

● The company needs to check whether there is any dependency between the
features “Region” and “Manager”.
Help the company to carry out their study with the help of data provided.

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stats

Imported required packages

In [18]:
data = pd.read_csv("F:/ICT/python_programming/dataset_3/Sales_add.csv")

In [19]:
Read the input and stored in the variable called data

SyntaxError: invalid syntax (<ipython-input-19-bb71e0d0c9a2>, line 1)

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isna().sum()

We studied our dataset and we can conclude that there are 22 rows and 5 columns in the table. and there is no null value in it.

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Next we have to identify is there any change in sales after stepping into the digital marketing.

In [20]:
sales_before = data['Sales_before_digital_add(in $)']
sales_after = data['Sales_After_digital_add(in $)']

To check that we splitted our dataset into before and after datasets.

In [21]:
sales_before

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [22]:
sales_after

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [23]:
sales_before.describe()

count        22.000000
mean     149239.954545
std       14844.042921
min      130263.000000
25%      138087.750000
50%      147444.000000
75%      157627.500000
max      178939.000000
Name: Sales_before_digital_add(in $), dtype: float64

In [24]:
sales_after.describe()

count        22.000000
mean     231123.727273
std       25556.777061
min      187305.000000
25%      214960.750000
50%      229986.500000
75%      250909.000000
max      276279.000000
Name: Sales_After_digital_add(in $), dtype: float64

We can identify the details of each table.

# Hypothesis

## Null Hypothesis H0: Sales before stepping into digital marketing < Sales after stepping into digital marketing.

## Alternative Hypothesis H1: Sales after stepping into digital marketing = sales before stepping into digital marketing.

Here we can see that sample size is 22 only so we can choose T-Test

For this t-test lets assign significance level as 0.05 i.e 5%.

In [25]:
result = stats.ttest_ind(sales_before, sales_after, equal_var=True)
result

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

Insight: p value is more than significance level(0.05) which implies null hypothesis is true. I.e.  Sales after stepping into digital marketing increased.

# The company needs to check whether there is any dependency between the features “Region” and “Manager”. Help the company to carry out their study with the help of data provided.

Here in this scenario we have to check dependancy of two categorical variables. So we can use Chi square test.

## NULL HYPOTHESIS H0:  Region and Manager features are independant.

## ALTERNATIVE HYPOTHESIS H1:  Region and Manager Features are dependent.

Significance level is assumed to be 0.05

In [26]:
datareg = data['Region']
dataman = data['Manager']

We splitted the dataset into region part and manager part.

In [27]:
newtab = pd.crosstab(datareg,dataman)
newtab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

To check is there any relation between region and manager we have to combine those tables for that we used crosstab function.

In [28]:
from scipy.stats import chi2_contingency

In [29]:
stat, p, dof, expected = chi2_contingency(newtab)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.5493991051158094
Independent (H0 holds true)

Insight: p value is more than significance level(0.05) which implies null hypothesis is true. I.e.  the features region and managers dont have any dependency